<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Factura</title>
<style>
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 10.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
</style>
  </head>
  <body>
    <header class="clearfix">
<div style="width: 77%; margin: 20 7.5%;">
      <h1>FACTURA</h1>
      <div id="company" class="clearfix">
        <div>LoreTriends</div>
        <div>PALMIRA calle 33a 37-23,<br /> COD 85004, COLOMBIA</div>
        <div>(+57)3164416002</div>
        <div><a href="loretriends@gmail.com">loretriends@gmail.com</a></div>
      </div>
      <div id="project">
        <div><span>ID FACTURA</span>  <%=Date.now()%></div>
        <div><span>CLIENT</span> <%=data1.name%></div>
        <div><span>CEDULA</span> <%=data1.cc%></div>
        <div><span>TELEFONO</span> <%=data1.phone%></div>
        <div><span>DIRECCION</span> <%=data1.address%></div>
        <div><span>FECHA</span> <%=new Date().toLocaleDateString()%></div>
        <!--     <div><span>DUE DATE</span> September 17, 2015</div> -->
      </div>
    </header>
<div style="width: 77%; margin: 20 7.5%;">
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">PRODUCTO</th>
            <th class="desc">DESCRIPTION</th>
            <th>PRECIO</th>
            <th>CTD</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service"><%=data2.name%></td>
            <td class="desc"><%=data2.description%></td>
            <td class="unit">$<%=data2.price%></td>
            <td class="qty">1</td>
            <td class="total">$<%=data2.price%></td>
          </tr>
          <tr>
            <td colspan="4">SUBTOTAL</td>
            <td class="total">$<%=data2.price%></td>
          </tr>
          <tr>
            <td colspan="4">IVA 19%</td>
            <td class="total">$<%=(data2.price*0.19).toFixed()%></td>
          </tr>
          <tr>
            <td colspan="4" class="grand total">TOTAL</td>
            <td class="grand total">$<%=(parseInt(data2.price)+(parseInt((data2.price*0.19).toFixed())))%></td>
          </tr>
        </tbody>
      </table>
    </main>
</div>
</div>
  </body>
</html>
